.header {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.empty {
  color: #bbbbbb;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Open Sans';
  margin-top: -10px;
}

.marginTop {
  margin-top: 15px !important;
}

.font {
  font-family: 'Open Sans';
  font-size: 18px !important;
  font-weight: 300;
}
