.main {
  padding-top: 50px;
  padding-bottom: 70px;  
}

.sidebar {
  width: 150px;
  padding-left: 15px;
  padding-right: 0px;
}

.sidebarLeft {
  float: left;
}

.sidebarContainer {
  margin-left: 200px;
  padding: 30px 30px 30px 30px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 6px;
  min-height: 200px;
}

.sidebarContainerHeader {
  color: black;
  font-family: 'Open Sans';
  margin-bottom: 20px;
}

.sidebarContainerHeaderBar {
  display: block;
  position: relative;
  height: 70px;
}

.sidebarContainerHeaderRight {
  float: right;
  margin-top: -36px;
}

.sidebarContainerPadding {
  padding-left: 3px;  
}

.link {
  border-radius: 7px;
  color: #A6A6A6 !important;
  font-weight: 600;
  font-family: 'Open Sans';
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.link:focus,
.link:hover {
  color: black !important;
}

.link.active,
.link.active:focus,
.link.active:hover {
  color: black !important;
}
