.button {
  border: none !important;
  outline: none !important;
  background-color: transparent;
  display: none;
}

.logo {
  height: 100px;
  padding-left: 30px;
  color: white;
  background-color: #5f97fb;
  padding-top: 34px;
}

.brand {
  margin-top: 30px;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
}

.list {
  margin-left: 0px !important;
  margin-top: 0px !important;
}

.main {
  padding-bottom: 70px;  
}

.sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: #393939;
}

.sidebarLeft {
  float: left;
}

.sidebarContainer {
  margin-left: 250px;
}

.sidebarContainerHeader {
  color: #4e4e4e;
  font-family: 'Open Sans';
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.sidebarContainerHeaderContent {
  display: inline-block;
  margin-top: -17px;
}

.sidebarContainerHeaderBar {
  display: block;
  position: fixed;
  height: 100px;
  padding-top: 35px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 999;
  left: 250px;
  right: 0;
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(50,50,50,0.40);
}

.sidebarContainerHeaderRight {
  float: right;
  margin-top: -6px;
}

.sidebarContainerPadding {
  padding: 30px;
  padding-top: 120px;
}

.icon {
  font-size: 20px;
}

.active .icon {}

.linkText {
  display: block;
  margin-top: -18px;
  margin-left: 35px;
}

.link {
  padding-left: 30px !important;
  padding-bottom: 20px !important;
  padding-top: 15px !important;
  color: #98999e !important;
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 14px;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}

.link:focus,
.link:hover {
  color: white !important;
  background-color: #464646;
}

.link.active,
.link.active:focus,
.link.active:hover {
  color: white !important;
  background-color: #464646;
  border-left: 5px solid #5f97fb;
}

.buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

@media only screen and (max-width: 768px) {
  .button {
    display: inline-block;
  }

  .sidebarContainerHeaderBar {
    left: 0;
    right: 0;
  }

  .sidebarContainerHeader {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0px;
    display: inline-block;
  }

  .sidebarContainerHeaderRight {
    margin-top: -28px;
  }

  .sidebarContainer {
    margin-left: 0px !important;
  }

  .link {
    color: white !important;
    -webkit-transition: color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out;
    -ms-transition: color 0.2s ease-out;
    -o-transition: color 0.2s ease-out;
    transition: color 0.2s ease-out;
  }

  .link:focus,
  .link:hover {
    color: #e2e2e2 !important;
  }

  .link.active,
  .link.active:focus,
  .link.active:hover {
    background-color: #e2e2e2 !important;
    color: black;
  }
}
