.main {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.headerSection {
  padding-top: 40px;
  padding-bottom: 50px;
  background-color: #424242;
}

.header {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 600;
  color: white;
}

.text {
  text-align: center;
  font-family: 'Open Sans';
  font-weight: 400;
  color: white;
}
