.button {
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 13px 22px !important;
  margin-bottom: 7px !important;
}

.signup {
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 13px 22px !important;
}
