.logo {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 20px;
  color: white;
}

.contentMargin {
  margin-top: 84px;
}

.brand {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #afafaf;
}

.footer {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  border-top: 1px solid #e6e6e6;
}

.coreNavbar {
  height: 84px;
  background-color: rgba(109, 169, 238, 1) !important;
  border: none !important;
}
