.logo {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 20px;
  text-transform: lowercase;
  color: black;
}

.contentMargin {
  margin-top: 84px;
}

.brand {
  font-family: 'Open Sans';
  font-weight: 600;
  color: #afafaf;

}

.footer {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.coreNavbar {
  height: 84px;
}

.background {
  background-color: whitesmoke;
}
