{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "mocha": true
    },
    "rules": {
      "linebreak-style": 0,
      "react/jsx-filename-extension": 0,
      "import/no-extraneous-dependencies": ["error", {"optionalDependencies": false, "peerDependencies": false}]
    }
}
