.header {
  color: #4C4C4C;
  font-family: 'Open Sans' !important;
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  font-family: 'Open Sans';
  color: #B1B1B1;
  margin-bottom: 20px;
}

.main {
  padding-bottom: 50px !important;
  padding-top: 50px !important;
  background-color: white;
  box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.75);
  position: relative;
  padding-left: 40px !important;
  padding-right: 40px !important;
}
