.main {
  padding-top: 30vh !important;
  padding-bottom: 50px !important;
}

.header {
  color: white;
  font-family: 'Open Sans' !important;
  font-weight: 700;
  margin-bottom: 10px;
}

.text {
  font-family: 'Open Sans';
  color: white;
  margin-bottom: 20px;
}
