.button {
  margin-bottom: 7px !important;
}

.reset {
  margin-top: 7px !important;
}

.errorText {
  font-family: 'Open Sans';
  font-weight: 600;
  color: red;
  text-align: left;
  margin-top: 10px;
  display: block;
}
