.devices {
  margin-bottom: 15px;
}

.device {
  padding-bottom: 15px;
}

.content {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 600;
  margin-top: -10px;
}

.name {
  font-family: 'Open Sans';
  margin-top: -20px;
  color: #afafaf;
  font-weight: 400;
}

.quantityHeader {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 14px;
  margin-top: -10px;
  display: block;
}

.quantity {
  font-family: 'Open Sans';
}
