:global {
  @import 'base';

  html {
    box-sizing: border-box;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  /**
   *
   * @section - 1. Structure
   *
   */

  .page-enter {
    opacity: 0.01;
  }

  .page-enter-active {
    opacity: 1;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in, transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  .page-leave {
    opacity: 1;
  }

  .page-leave-active {
    opacity: 0.01;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  }

  /**
   *
   * @section - 2. Utilities
   *
   */

  /**
   *
   * @section - 3. Notifications
   *
   */

  .notification-enter {
    opacity: 0.01;
    transform: scale(0.50);
  }

  .notification-enter-active {
    opacity: 1;
    transform: scale(1.00);
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in, transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  .notification-leave {
    opacity: 1;
    transform: scale(1.00);
  }

  .notification-leave-active {
    opacity: 0.01;
    transform: scale(0.50);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  }


  /**
   *
   * @section - 4. Controls
   *
   */

  .button-light {
    font-family: 'Open Sans' !important;
    font-weight: 500 !important;
    text-transform: uppercase !important;
    letter-spacing: 1px !important;
    border-radius: 4px !important;
    font-size: 12px !important;
    padding: 13px 22px !important;
  }

  .table-enter {
    opacity: 0.01;
    transform: scale(0.95);
  }

  .table-enter-active {
    opacity: 1;
    transform: scale(1.00);
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
  }

  .table-leave {
    opacity: 1;
    transform: scale(1.00);
  }

  .table-leave-active {
    opacity: 0.01;
    transform: scale(0.95);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  /**
   *
   * @section - 5. Components
   *
   */

  .reservation-device-enter {
    opacity: 0.01;
    transform: scale(0.50);
  }

  .reservation-device-enter-active {
    opacity: 1;
    transform: scale(1.00);
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
    transition: opacity 0.5s ease-in, transform 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275);
  }

  .reservation-device-leave {
    opacity: 1;
    transform: scale(1.00);
  }

  .reservation-device-leave-active {
    opacity: 0.01;
    transform: scale(0.50);
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out, transform 0.5s cubic-bezier(0.600, -0.280, 0.735, 0.045);
  }

  /**
   *
   * @section - 6. Animations
   *
   */

  /**
   *
   * @section - 7. Media Queries
   *
   */

  @media only screen and (max-width: 1530px) {

  }

  @media only screen and (max-width: 991px) {
    
  }

  @media only screen and (max-width: 768px) {

  }
}
