.table {
  font-family: 'Open Sans';
}

.clickable {
  cursor: pointer;
}

.header {
  font-family: 'Montserrat';
  text-transform: uppercase !important;
  font-size: 13px;
  color: rgba(44,44,44,0.35) !important;
  cursor: pointer !important;
}

.first {
  font-family: 'Montserrat';
  color: #626262;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
}

.n {
  font-family: 'Open Sans';
  color: #626262;
  font-weight: 400;
  font-size: 13px;
  opacity: 0.7;
}
