.horizontal {
  list-style-type: none;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
}

.horizontal li {
  display: inline;
}

.iconPadding {
  padding-right: 10px;
}

.locationButton {
  margin-right: 20px;
}

.button {
  font-family: 'Open Sans' !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  border-radius: 4px !important;
  font-size: 12px !important;
  padding: 13px 22px !important;
}
