.horizontal {
  list-style-type: none;
  white-space: nowrap;
  margin-top: 0px;
  margin-bottom: 0px;
}

.horizontal li {
  display: inline;
}

.iconPadding {
  padding-right: 10px;
}

.locationButton {
  margin-right: 20px;
}
