.status {
  padding: 5px;
  padding-bottom: 7px;
  padding-left: 7px;
  border-radius: 3px;
  padding-right: 7px;
}

.text {
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
}
