.footer {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
  border-top: 1px solid #e6e6e6;
}

.brand {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #afafaf;
}

.container {
  margin-top: 40px;
}
