.header {
  font-family: 'Open Sans';
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: gray;
  font-size: 14px;
  margin-top: 15px !important;
}

.notes {
  transition: all 0.25s ease-in-out;
  width: auto;
  display: inline-block;
  font-size: 20px;
  font-family: 'Open Sans';
}

.notes:hover {
  border: 1px solid rgb(202, 202, 202);
  border-radius: 5px;
  padding: 5px 10px;
}
