.header {
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.content {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 400;
  margin-top: -10px;
}
